<!-- Elenco dei progetti -->
<section>
	<h2>Elenco dei Progetti</h2>
	<button data-button-kind="newProject">Nuovo Progetto</button>
	<!-- Inserisci qui l'elenco dei progetti, dinamicamente -->
	<ul id="project-list">
	</ul>
</section>

<!-- Crea un Nuovo Progetto -->
<section id="newProject" class="hidden">
	<h2>Crea un Nuovo Progetto</h2>
	<form id="newProjectForm" action="javascript:void(0)>
		<label for=" inputNomeProgetto">Nome Progetto:</label>
		<input type="text" id="inputNomeProgetto" name="nomeProgetto" required>
		<label for="inputDescrizioneProgetto">Descrizione:</label>
		<textarea id="inputDescrizioneProgetto" name="descrizioneProgetto" required></textarea>
		<div class="form-buttons">
			<button type="button" data-button-kind="newProjectHide">Annulla</button>
			<button type="submit" id="submitNewProject">Crea Progetto</button>
		</div>
	</form>
</section>

<script type="module" src="assets/js/project_list.js"></script>
