<section>
	<h2>Aggiornamenti della Versione 0.1</h2>
	<p>In questa versione, abbiamo completato la struttura
		progettata per il nostro sito web. I seguenti HTML sono stati
		creati:</p>
	<ul>
		<li><span lang="en">Homepage</span></li>
		<li><span lang="en">About Us</span></li>
		<li><span lang="en">Release Notes</span></li>
		<li><span lang="en">Account Home</span></li>
		<li><span lang="en">Project Home</span></li>
		<li><span lang="en">Project Cake</span></li>
		<li><span lang="en">Project Shared</span></li>
		<li><span lang="en">Tag page</span></li>
	</ul>
	<img src="assets/img/mappa_del_sito.svg" alt="Mappa del sito e azioni
	possibili per ogni pagina" />
</section>
