html
{
    font-family: "Times New Roman", Times,serif;
    font-size:1em;
}

main
{
    margin-left: 0em;
    width: 100%;
    padding: 0.3em 0em 0.5em 0em;
}

a[href^="/"]:after{
    content: "(http://www.PennyWise.it" attr(href) ")";
}