<!-- <title>Account Page</title> -->
<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Account Home</title>
	<!--<base href="/">-->
	<meta name="description" content="Gestisci il tuo account personale, visualizza le tue informazioni di profilo e gestisci i tuoi progetti">
	<meta name="keywords" content="account, profilo utente, gestione account, progetti">
	<link rel="stylesheet" type="text/css" href="views/index.css">
	<script src="assets/js/modifica.js"></script>
</head>


<body>

	<a href="#main-content" class="skip-link">Salta al contenuto principale</a>

	<header>
		<nav>
			<div class="Logo">
				<a href="/"><img src="assets/img/logo.png" alt="logo"></a>
			</div>
			{{ header }}
		</nav>
		<h1>Benvenuto/a {{ username }}</h1>
	</header>

	<section id="accedi" class="hidden">
	</section>

	<section id="registrati" class="hidden">
	</section>

	<script type="module" src="assets/js/nav.js"></script>

	<main id="main-content">
		<!-- Informazioni dell'account -->
		<section>
			<h2>Informazioni dell'<span lang="en">Account</span></h2>
			<ul>
				<li>Nome Utente: <span id="username">{{ username }}</span></li>
				<li>Email: <span id="email">{{ email }}</span></li>
			</ul>
			<input type="button" data-button-kind="modificaCredenziali" value="Modifica Credenziali">
			<input type="button" value="Esci" onclick="logOut()">
		</section>

		<!-- Modifica informazioni dell'account -->
		<section id="modificaCredenziali" class="hidden">
		</section>

		<!-- Elimina Progetto -->
		<section id="deleteProject" class="hidden">
		</section>

		<script type="module" src="assets/js/account_info.js"></script>

		<!-- Elenco dei progetti -->
		<section>
			<h2>Elenco dei Progetti</h2>
			<input type="button" data-button-kind="newProject" value="Nuovo Progetto">
			<!-- Inserisci qui l'elenco dei progetti, dinamicamente -->
			<ul id="project-list">
				{{ projects }}
			</ul>
		</section>

		<!-- Crea un Nuovo Progetto -->
		<section id="newProject" class="hidden">
		</section>


	</main>
	<script src="assets/js/footerColors.js"></script>
	<footer>
		<div class="footer-list">
			<h3>Prodotto</h3>
			<ul>
				<li><a href="account_home">I Miei Progetti</a></li>
				<li><a href="about_us"><span lang="en">About Us</span></a></li>
			</ul>
		</div>
		<div class="footer-list">
			<h3>Risorse</h3>
			<ul>
				<li><a href="/"><span lang="en">Homepage</span></a></li>
				<li><a href="release_notes"><span lang="en">Release Notes</span></a></li>
				<li><a href="https://github.com/Sdraiati" target="_blank"> <img src="assets/img/github-mark-white.png"
																				id="github-mark"><span lang="en">GitHub</span></a></li>
			</ul>
		</div>
	</footer>

</body>

</html>
