<!-- <title>Home - Penny Wise</title> -->
<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<!--<base href="/">-->
	<meta name="description" content="Gestisci le tue spese personali e condivise con facilità e visualizzale in grafici dettagliati con Penny Wise.">
	<meta name="keywords" content="spese, budget, risparmio, monitoraggio spese, grafici">
	<link rel="stylesheet" type="text/css" href="views/index.css">
	<script src="assets/js/modifica.js"></script>
</head>

<body>

	<a href="#main-content" class="skip-link">Salta al contenuto principale</a>

	<header>
		<nav>
			<div class="Logo">
				<a href="/" aria-label="Torna alla home page"><img src="assets/img/logo.png" alt="logo della web app PennyWise"></a>
			</div>
			{{ header }}
		</nav>
		<h1><span lang="en">Penny Wise</span></h1>
	</header>

	<section id="accedi" class="hidden">
	</section>

	<section id="registrati" class="hidden">
	</section>

	<!-- <script type="module" src="assets/js/nav.js"></script> -->


	<main id="main-content">
		<!-- <title>Home - Penny Wise</title> -->
		<section id="first-para">
			<div>
				<img src="./screenshot.jpg" alt="Screenshot dell'homepage di Penny Wise">
				<p>Benvenuto su <span lang="en">Penny Wise</span>, la tua soluzione gratuita per gestire le finanze in modo efficace ed
					efficiente. Sia che tu stia cercando di risparmiare, pianificare per il futuro o semplicemente
					tenere traccia delle tue spese quotidiane, siamo qui per aiutarti.</p>
			</div>
		</section>

		<section>
			<h2>Cosa puoi fare con <span lang="en">Penny Wise</span></h2>
			<p>Con <span lang="en">Penny Wise</span>, hai a disposizione una serie di strumenti per gestire le tue finanze in modo
				intelligente:</p>
			<div class="container">
				<div class="item">
					<img src="./screenshot.jpg" alt="inserimento di una transiazione">
				</div>
				<div class="item">
					<ul>
						<li><strong>Registra le transazioni:</strong> Registra spese ed entrate in modo rapido e
							accurato, fornendo una panoramica completa delle tue finanze.</li>
					</ul>
				</div>
				<div class="item">
					<ul>
						<li><strong>Grafici intuitivi:</strong> Visualizza l'andamento generale delle tue finanze
							attraverso grafici chiari e comprensibili.</li>
						<li><strong>Retrospettive finanziarie:</strong> Effettua analisi retrospettive, migliorando la
							tua capacità di prendere decisioni finanziarie informate.</li>
					</ul>
				</div>
				<div class="item">
					<img src="./screenshot.jpg" alt="grafico dell'andamento delle spese">
				</div>
				<div class="item">
					<img src="./screenshot.jpg" alt="analisi delle spese suddivise per tag">
				</div>
				<div class="item">
					<ul>
						<li><strong>Categorizzazione avanzata:</strong> Categorizza le tue transazioni assegnando tag
							personalizzati, semplificando la gestione e l'analisi delle tue spese.</li>
						<li><strong>Analisi dettagliata:</strong> Filtra e analizza le spese per categoria, monitorando
							la percentuale di spese per ogni tag. Ottieni una visione dettagliata dei tuoi consumi.</li>
					</ul>
				</div>
			</div>
			<div>
				<h2>Perché scegliere <span lang="en">Penny Wise</span>?</h2>
				<p>La nostra <span lang="en">web app</span> è progettata pensando alle tue esigenze specifiche:</p>
				<ul>
					<li><strong>Facile da usare:</strong> Un'interfaccia utente intuitiva rende la registrazione delle
						transazioni e la navigazione nell'app un gioco da ragazzi.</li>
					<li><strong>Gratuita e accessibile:</strong> <span lang="en">Penny Wise</span> è completamente gratuito, garantendo a tutti
						l'accesso a uno strumento di gestione finanziaria di alta qualità.</li>
				</ul>
			</div>
		</section>
	</main>
	<footer>
		<div class="footer-list">
			<h3>Prodotto</h3>
			<ul>
				<li><a href="about_us"><span lang="en">About Us</span></a></li>
			</ul>
		</div>
		<div class="footer-list">
			<h3>Risorse</h3>
			<ul>
				<li><a href="release_notes"><span lang="en">Release Notes</span></a></li>
				<li><a href="https://github.com/Sdraiati" target="_blank" aria-label="Vai alla pagina di Github"> <img src="assets/img/github-mark-white.png"
							id="github-mark" alt="logo di Github"><span lang="en">GitHub</span></a></li>
			</ul>
		</div>
	</footer>

</body>

</html>
