<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ Project Name }} - Project Home</title>
	<!--<base href="/">-->
	<meta name="description" content="Tieni traccia delle tue spese tramite progetti personali o condivisi">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="views\index.css">
	<script src="assets/js/modifica.js"></script>
</head>


<body>

	<!-- <title>{{Project Name}}</title> -->
	<!-- Riferimento al file JavaScript esterno per la generazione del line chart -->
	<!-- <script src="line_chart_script.js"></script> -->

	<header>
		<nav>
			<div class="Logo">
				<a href="/"><img src="assets/img/logo.jpeg" alt="logo"></a>
			</div>
			{{ header }}
		</nav>
		<h1>{{ Project Name }}</h1>
		<div aria-label="descrizione">{{ Project Description }}</div>
		<input type="button" data-button-kind="editProject" value="Modifica Progetto">
		<input type="button" data-button-kind="deleteProject" value="Elimina">
		<input type="button" data-button-kind="disjoinProject" value="Abbandona Progetto">
		<input type="button" onclick='share("{{ project-link }}")' value="Condividi Progetto">
	</header>

	<section id="accedi" class="hidden">
	</section>

	<section id="registrati" class="hidden">
	</section>

	<script type="module" src="assets/js/nav.js"></script>

	<!-- Modifica Progetto -->
	<section id="editProject" class="hidden">
	</section>

	<!-- Elimina Progetto -->
	<section id="deleteProject" class="hidden">
	</section>

	<!-- Abbandona Progetto -->
	<section id="disjoinProject" class="hidden">
	</section>

	<main>
		<!-- Condividi Progetto -->
		<section id="shareProject" class="hidden">
			<h2>Condividi Progetto</h2>
			<form id="linkForm">
				<input type="text" id="linkField" value="https://example.com" readonly>
				<button type="button" data-button-kind="shareProjectHide">Annulla</button>
				<button type="button" id="copyShareProject">Copy Link</button>
			</form>
		</section>

		<section id="chart">
			<ul id="line-chart-buttons">
				<li><button id="transazioni-precedenti">Precedente</button></li>
				<li><button id="transazioni-periodo-1-mese">1 mese</button></li>
				<li><button id="transazioni-periodo-6-mesi">6 mesi</button></li>
				<li><button id="transazioni-periodo-1-anno">1 anno</button></li>
				<li><button id="transazioni-successive">Successivo</button></li>
			</ul>
			<!-- Canvas per il line chart -->
			<canvas id="line-chart" class="line-chart"></canvas>
			<!-- Tabella delle transazioni -->
		</section>

		<section>
			<h2>Tabella delle Transazioni</h2>
			<input type="button" data-button-kind="newTransaction" value="Nuova Transazione">
			<!-- Inserisci qui la tabella delle transazioni -->
			<table id="transazioniTable">
				<!-- Intestazione della tabella -->
				<thead>
					<tr>
						<th>Data</th>
						<th>Costo (€)</th>
						<th>Tag</th>
						<th>Descrizione</th>
					</tr>
				</thead>
				<!-- Corpo della tabella -->
				<tbody>
				</tbody>
			</table>
		</section>

		<!-- Registra una Nuova Transazione -->
		<section id="newTransaction" class="hidden">
		</section>

		<!-- Modifica Transazione -->
		<section id="editTransaction" class="hidden">
			<h2>Modifica Transazione</h2>
			<form id="editTransactionForm" action="javascript:void(0)">
				<label for="editData">Nuova Data:</label>
				<input type="date" id="editData" name="data">
				<label for="editCosto">Nuovo Importo (€):</label>
				<input type="number" id="editCosto" name="costo" step="0.01">
				<label for="editTag">Nuovo Tag:</label>
				<input list="tags-datalist" id="editTag" name="tag" required>
				<label for="editDescrizione">Nuova Descrizione:</label>
				<input type="text" id="editDescrizione" name="descrizione">
				<div class="form-buttons">
					<button type="button" id="deleteTransazioneButton">Elimina Transazione</button>
					<button type="button" data-button-kind="editTransactionHide">Annulla</button>
					<button type="submit" id="submitEditTransaction">Salva Modifiche</button>
				</div>
			</form>
		</section>

		<script type="module" src="assets/js/transazioni_list.js"></script>


		<!-- Filtri per tag -->
		<aside class="filtri-tag-container">
			<a href="project_cake.html">Vai al Grafico a Torta</a>
			<h2>Filtri per Tag</h2>
			<!-- Inserisci qui i filtri per tag -->
			<form id="tag_sidebar">
			</form>

			<a href="tag_page.html">Vai alla Pagina dei Tag</a>
		</aside>

		<script type="module" src="assets/js/tag_sidebar.js"></script>

		<!-- Partecipanti -->
		<aside class="partecipanti-container">
			<h2>Partecipanti</h2>
			<!-- Inserisci qui l'elenco dei partecipanti -->
			<ul id="partecipanti-list">
			</ul>
		</aside>

		<script type="module" src="assets/js/partecipanti_sidebar.js"></script>

		<script src="assets/js/footerColors.js"></script>
	</main>

	<footer>
		<div class="footer-list">
			<h3>Prodotto</h3>
			<ul>
				<li><a href="account_home">I Miei Progetti</a></li>
				<li><a href="about_us"><span lang="en">About Us</span></a></li>
			</ul>
		</div>
		<div class="footer-list">
			<h3>Risorse</h3>
			<ul>
				<li><a href="/"><span lang="en">Homepage</span></a></li>
				<li><a href="release_notes"><span lang="en">Release Notes</span></a></li>
				<li><a href="https://github.com/Sdraiati" target="_blank"> <img src="assets/img/github-mark-white.png"
																				id="github-mark"><span lang="en">GitHub</span></a></li>
			</ul>
		</div>
	</footer>

</body>
<script type="module" src="assets/js/line-chart-main.js"></script>
<script type="module" src="assets/js/line-chart-interactions.js"></script>

</html>
