<il class='projectContainer'>
	<span class='nome'>{{ project-name }}</span>
	<span class='descrizione'>{{ project-description }}</span>
	<ul>
		<li><input type="button" onclick='share("{{ project-link }}")' value="Condividi"></li>
		<li>
			<input type="button" onclick='window.location.href = "project_home?project_id={{ project-id }}"' value="Apri">
		</li>
		<li><input type="button" onclick='deleteProject("{{ project-link }}")' value="Elimina"></li>
		<li><input type="button" onclick='disjoinProject("{{ project-link }}")' value="Abbandona Progetto"></li>
	</ul>
</il>
