<!-- title: Shared Project -->
<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Project Shared</title>
	<!--<base href="/">-->
	<meta name="description" content="un sito per mostrare cose">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="views/index.css">
	<script src="assets/js/modifica.js"></script>
</head>


<body>

	<a href="#main-content" class="skip-link">Salta al contenuto principale</a>

	<header>
		<nav>
			<div class="Logo">
				<a href="/" aria-label="Torna alla home page"><img src="assets/img/logo.png" alt="logo della web app PennyWise"></a>
			</div>
			{{ header }}
		</nav>
		<h1>Shared Project - {{ Project Name }}</h1>
	</header>

	<section id="accedi" class="hidden">
	</section>

	<section id="registrati" class="hidden">
	</section>

	<script type="module" src="assets/js/nav.js"></script>

	<section id="joinProject" class="hidden">
		<h1>Partecipa al progetto</h1>
		<form id="joinProjectForm" action="javascript:void(0)">
			<div class="form-buttons">
				<input type="button" data-button-kind="joinProjectHide" value="Annulla">
				<input type="button" data-button-kind="submitJoinProject" value="Partecipa">
			</div>
	</section>

	<main id="main-content">
		<section>
			<input type="button" onclick="joinProject()" value="Partecipa">
		</section>
	</main>

	<footer>
		<div class="footer-list">
			<h3>Prodotto</h3>
			<ul>
				<li><a href="account_home">I Miei Progetti</a></li>
				<li><a href="about_us">About Us</a></li>
			</ul>
		</div>
		<div class="footer-list">
			<h3>Risorse</h3>
			<ul>
				<li><a href="/">Homepage</a></li>
				<li><a href="release_notes">Release Notes</a></li>
				<li><a href="https://github.com/Sdraiati" target="_blank"> <img src="assets/img/github-mark-white.png"
							id="github-mark"> GitHub </a></li>
			</ul>
		</div>
	</footer>

	<script src="assets/js/modifica.js"></script>
</body>

</html>
