<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ Project Name }} - Project Home</title>
	<!--<base href="/">-->
	<meta name="description" content="Tieni traccia delle tue spese tramite progetti personali o condivisi">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="views/index.css">
	<script src="assets/js/modifica.js"></script>
</head>


<body>
	<a href="#main-content" class="skip-link">Salta al contenuto principale</a>

	<header>
		<nav>
			<div class="Logo">
				<a href="/" aria-label="Torna alla home page"><img src="assets/img/logo.png" alt="logo della web app PennyWise"></a>
			</div>
			{{ header }}
		</nav>
		<h1>{{ Project Name }}</h1>
		<div>{{ Project Description }}</div>
		<input type="button" data-button-kind="editProject" value="Modifica Progetto">
		<input type="button" data-button-kind="deleteProject" value="Elimina">
		<input type="button" data-button-kind="disjoinProject" value="Abbandona Progetto">
		<input type="button" onclick='share("{{ project-link }}")' value="Condividi Progetto">
	</header>

	<section id="accedi" class="hidden">
	</section>

	<section id="registrati" class="hidden">
	</section>

	<script type="module" src="assets/js/nav.js"></script>

	<section id="editProject" class="hidden">
	</section>

	<section id="deleteProject" class="hidden">
	</section>

	<section id="disjoinProject" class="hidden">
	</section>

	<main id="main-content">
		<!-- Condividi Progetto -->
		<section id="shareProject" class="hidden">
			<h2>Condividi Progetto</h2>
			<form id="linkForm">
				<input type="text" id="linkField" value="https://example.com" readonly>
				<input type="button" data-button-kind="shareProjectHide" value="Annulla">
				<input type="button" id="copyShareProject" value="Copy Link">
			</form>
		</section>

		<section id="chart">
			<ul id="line-chart-buttons">
				<li><input type="button" id="transazioni-precedenti" value="Precedente"></li>
				<li><input type="button" id="transazioni-periodo-1-mese" value="1 mese"></li>
				<li><input type="button" id="transazioni-periodo-6-mesi" value="6 mesi"></li>
				<li><input type="button" id="transazioni-periodo-1-anno" value="1 anno"></li>
				<li><input type="button" id="transazioni-successive" value="Successivo"></li>
			</ul>
			<!-- Canvas per il line chart -->
			<canvas id="line-chart" class="line-chart"></canvas>
			<canvas id="cake-chart" class="cake-chart"></canvas>
			<!-- Tabella delle transazioni -->
		</section>

		<section>
			<h2>Tabella delle Transazioni</h2>
			<input type="button" data-button-kind="newTransaction" value="Nuova Transazione">
			<!-- Inserisci qui la tabella delle transazioni -->
			<table id="transazioniTable">
				<!-- Intestazione della tabella -->
				<thead>
					<tr>
						<th>Data</th>
						<th>Costo (€)</th>
						<th>Tag</th>
						<th>Descrizione</th>
					</tr>
				</thead>
				<!-- Corpo della tabella -->
				<tbody>
				</tbody>
			</table>
		</section>

		<!-- Registra una Nuova Transazione -->
		<section id="newTransaction" class="hidden">
		</section>

		<!-- Modifica Transazione -->
		<section id="editTransaction" class="hidden"> </section>

		<!-- Elimina Transazione -->
		<section id="deleteTransaction" class="hidden"> </section>

		<script type="module" src="assets/js/transazioni_list.js"></script>


		<!-- Filtri per tag -->
		<aside class="filtri-tag-container">
			<h2>Filtri per Tag</h2>
			<!-- Inserisci qui i filtri per tag -->
			<form id="tag_sidebar">
				<ul>
					{{ tags }}
				</ul>
			</form>

			<a onclick='window.location.href = "tag_page?project_id={{ project-id }}"'>Vai alla Pagina dei Tag</a>
		</aside>

		<script type="module" src="assets/js/tag_sidebar.js"></script>

		<!-- Partecipanti -->
		<aside class="partecipanti-container">
			<h2>Partecipanti</h2>
			<!-- Inserisci qui l'elenco dei partecipanti -->
			<ul id="partecipanti-list">
				{{ partecipants }}
			</ul>
		</aside>

		<!-- <script type="module" src="assets/js/partecipanti_sidebar.js"></script> -->

		<!-- <script src="assets/js/footerColors.js"></script> -->
	</main>

	<footer>
		<div class="footer-list">
			<h3>Prodotto</h3>
			<ul>
				<li><a href="account_home">I Miei Progetti</a></li>
				<li><a href="about_us"><span lang="en">About Us</span></a></li>
			</ul>
		</div>
		<div class="footer-list">
			<h3>Risorse</h3>
			<ul>
				<li><a href="/"><span lang="en">Homepage</span></a></li>
				<li><a href="release_notes"><span lang="en">Release Notes</span></a></li>
				<li><a href="https://github.com/Sdraiati" target="_blank" aria-label="Vai alla pagina di Github"> <img src="assets/img/github-mark-white.png"
																													   id="github-mark" alt="logo di Github"><span lang="en">GitHub</span></a></li>
			</ul>
		</div>
	</footer>

</body>
<script type="module" src="assets/js/line-chart-main.js"></script>
<script type="module" src="assets/js/line-chart-interactions.js"></script>
<script type="module" src="assets/js/cake-chart-main.js"></script>

</html>
