<!-- <title>Release Notes - Versione 0.1</title> -->
<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {{ Title }} </title>
    <!--<base href="/">-->
	<meta name="description" content="un sito per mostrare cose">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="assets/js/modifica.js"></script>
</head>


<body>

<header>
	<nav>
		<div class="Logo">
			<a href="index"><img src="assets/img/logo.jpeg" alt="logo"></a>
		</div>
		{{ header }}
	</nav>
	<h1><span lang="en">Release Notes</span> - Versione 0.1</h1>
</header>

<section id="accedi" class="hidden">
</section>

<section id="registrati" class="hidden">
</section>

<script type="module" src="assets/js/nav.js"></script>

<main>
	<section>
		<h2>Aggiornamenti della Versione 0.1</h2>
		<p>In questa versione, abbiamo completato la struttura
			progettata per il nostro sito web. I seguenti HTML sono stati
			creati:</p>
		<ul>
			<li><span lang="en">Homepage</span></li>
			<li><span lang="en">About Us</span></li>
			<li><span lang="en">Release Notes</span></li>
			<li><span lang="en">Account Home</span></li>
			<li><span lang="en">Project Home</span></li>
			<li><span lang="en">Project Cake</span></li>
			<li><span lang="en">Project Shared</span></li>
			<li><span lang="en">Tag page</span></li>
		</ul>
		<img src="assets/img/mappa_del_sito.svg" alt="Mappa del sito e azioni
		possibili per ogni pagina" />
	</section>
</main>

<script src="assets/js/footerColors.js"></script>

<footer>
	<div class="footer-list">
		<h3>Prodotto</h3>
		<ul>
			<li><a href="account_home">I Miei Progetti</a></li>
			<li><a href="about_us">About Us</a></li>
		</ul>
	</div>
	<div class="footer-list">
		<h3>Risorse</h3>
		<ul>
			<li><a href="index">Homepage</a></li>
			<li><a href="release_notes">Release Notes</a></li>
			<li><a href="https://github.com/Sdraiati" target="_blank"> <img src="assets/img/github-mark-white.png"
						id="github-mark"> GitHub </a></li>
		</ul>
	</div>
</footer>


</body>

</html>
