<!DOCTYPE html>
<html lang=it>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title />
	<meta name="description" content="un sito per mostrare cose">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="assets/js/modifica.js"></script>
</head>

<nav>
	<div class="Logo">
		<a href="index.php"><img src="assets/img/logo.jpeg" alt="logo"></a>
	</div>
	<div class="Login">
		<ul class="login-list">
			<button type="button" data-button-kind="logout">Utente</button>
		</ul>
	</div>
</nav>

<section id="logout" class="hidden">
	<h2><span lang="en">Logout</span></h2>
	<a href="account_home.php" id="utente"><span lang="en">Homepage</span> dell'utente</a>
	<form id="logoutForm" action="api/utente/logout.php" method="post">
		<button type="button" data-button-kind="logoutHide">Annulla</button>
		<button type="submit">Logout</button>
	</form>
</section>
