<!DOCTYPE html>
<html lang=it>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title />
	<base href="/backend/" />
	<meta name="description" content="un sito per mostrare cose">
	<meta name="keywords" content="sito, cose, dati, UN BEL GRAFICONE A TORTA">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<nav>
	<div class="Logo">
		<a href="index.php"><img src="assets/img/logo.jpeg" alt="logo"></a>
	</div>
	<div class="Login">
		<ul class="login-list">
			<li><a href="account_home.php" id="utente">Utente</a></li>
		</ul>
</nav>
